{% extends "students_crud/base.html" %}

{% block content %}
   <table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
    <tr>
        <td>Full Name</td>
        <td>Shorten Name</td>
        <td>Foundation Date</td>
    </tr>
    </thead>
   <tbody>
   {% for university in university_list %}
       <tr>
        <td>{{ university.full_name }}</td>
        <td>{{ university.shorten_name }}</td>
        <td>{{ university.foundation_date }}</td>
    </tr>
   {% endfor %}
   </tbody>
   </table>
{% endblock content %}