{% extends "students_crud/base.html" %}

{% block content %}
   <table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
    <tr>
        <td>Full Name</td>
        <td>Shorten Name</td>
        <td>Foundation Date</td>
        <td></td>
    </tr>
    </thead>
   <tbody>
   {% for university in university_list %}
       <tr>
        <td>{{ university.full_name }}</td>
        <td>{{ university.shorten_name }}</td>
        <td>{{ university.foundation_date }}</td>
       <td>
           <a href="{% url 'university_update' university.id %}" class="btn text-secondary px-0">
               <i class="far fa-edit fa-lg"></i>
           </a>
       </td>
    </tr>
   {% endfor %}
   </tbody>
   </table>
{% endblock content %}